* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.navbar {
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    color: #fff;
}

.nav-links a {
    color: #ccc;
}

/* LOGO */
.logo {
    font-size: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.a-logo {
    white-space: nowrap;
    color: #3fa9f5;
}
.span-log {
    color: #1300ff;
}
.img-logo {
    /* background-size: cover; */
    height: 8vh;
}

/* NAVBAR MENU */

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}


.left-nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.log{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 15px;
}
.get-start{
    max-width: 150px;
    padding: 10px !important;
    background-color: #0065ff;
    transition: 0.3s;
    border-radius: 100px;
    letter-spacing: .5px;
    color: #ccc;
    white-space: nowrap;
}
.login{
    padding: 10px !important;
    transition: 0.3s;
    border-radius: 100px;
    letter-spacing: .5px;
    color: #ccc;
}
.login a:hover{
    background-color: #3fa9f5;
}
.log > a:hover{
    background-color: #3fa9f5;
    transition: 0.3s ease;
}   
.menu li:hover {
    border-bottom: solid 3px #0065ff;
    transition: 0.3s ease;
    color: black !important;
}

.menu li {
    padding: 5px 14px;
    white-space: nowrap;
}

/* DROPDOWN MENU */

.services {
    position: relative;
}

.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #4c9e9e;
}

.services:hover .dropdown {
    display: block;
}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
    display: none;
}
/*HAMBURGER MENU*/

.hamburger {
    display: none;
    color: #0065ff;
    font-size: 4em;
    user-select: none;
}
/*CONTAINER*/
.container {
    background: #fff;
}


/*CONTAINER-HERRO*/
.costum-hero {
    display: flex;
    flex-direction: row;
    background: darkgrey;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    background-image: url(/img/hero.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-right {
    width: 50%;
}
.hero-left {
    width: 50%;
    height: 100%;
    background-color: #212021;
    opacity: 0.9;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
}
.hero-subtitle-box{
    width: 12px;
    height: 12px;
    background-color: #3fa9f5;
}
.hero-subtit {
    align-items: center;
    margin-left: 40px;
}
.hero-sub-p{
    margin-bottom: 0px;
    padding-left: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.hero-title-h1 {
    color: #fff;
    font-size: 48px;
    line-height: 1.1;
    text-transform: capitalize;
    padding: 10px 42px;
}
.highlight{
    color: #3fa9f5;
}
.hero-sub-p2{
    padding: 10px 42px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.hero-title-wrap {
    margin-bottom: 20px;
}
/*---WELCOME----*/
.welcome-class{
    display: flex;
    flex-direction: row;
}
.welcome-left > img {
    height: 448px;
}

.blog-left  > h2{
    margin-top: 30px;
    color: #37393f;
    padding: 0;
}
.blog-left  > p {
    color: #7d7d7d;
    padding: 0;
    margin-right: 30px;
}
.welcome-left {
    width: 50%;
    display: flex;
    margin-top: 8vh;
    align-items: start;
    flex-wrap: wrap;
    gap: 28px;
    padding-left: 20px;
}
.costum-welcome{
    display: flex;
    flex-direction: row;
    background: darkgrey;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 50vw;
}
.blog-left {
    margin-bottom: 31px;
}
.simple-link{
    display: inline-block;
    padding-top: 10px;
    border-bottom: 2px solid #37393f;
    color: #37393f;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
/*INTRO POINT*/
.intro-point{
    padding: 18px 42px;
}
.intro-point-title {
    margin-top: 2px;
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ccc;
    text-transform: capitalize
}
.intro-point-item {
    display: flex;
    margin-bottom: 20px;
}
/*welcome 2*/
.welcome-item.flex-row {
    padding: 28px 10px;
    border: solid 1px #ccc;
    margin: 14px 24px;;
    gap: 15px;
}
.welcome-title-h4 {
    margin-top: 0px;
    margin-bottom: 8px;
    color: #37393f;
    font-size: 20px;
    font-weight: 600;
}
.welcome-p{
    margin-top: 0px;
    margin-bottom: 8px;
    color: #37393f;
    font-weight: 500;
}
/* APPLYING MEDIA QUERIES */

@media (max-width: 768px) {
    .a-logo {
            display: none;
        }
    .menu {
        display: none;
        position: absolute;
        background-color: #fff;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        z-index: 3;
    }
    .left-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }
    .menu li+li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        top: 30px;
        transform: translateX(35%);
    }
    .dropdown li:hover {
        background-color: #4c9e9e;
    }
    .hero-right {
        display: none;
    }

    .hero-left {
        width: 100%;
        height: 100%;
        padding: 0px 25px;
    }
    .welcome-class {
        display: flex;
        flex-direction: column;
        padding: 16px 30px;
    }
    .welcome-left{
        width: 100%;
        display: flex;
    }
    .costum-welcome{
        width: 100%;
    }

}